 html, body {
	height: 100%;
	width: 100%; 
	margin: 0; 
 }


 #headerheader {
	background-color: #444444; 
	height: 200px;
	width: 100%;
}


#left {	
	background-color: #D8D8D8;
	height: calc(100% - 200px);
	width: 200px;
	float: left;
}

#right {
	background-color: #D8D8D8;
	height: calc(100% - 200px);
	width: 200px;
	float:right;
} 

#body { 
	background-color: #EFEFEF;
	position: center;
	height: calc(100% - 300px);
	margin:auto;
}

#footer {
	background-color: #232323; 
	margin: auto;
	height: 100px;

}
